<div class="form-contract">
  <%= simple_form_for [@project, @contract] do |f| %>
    <%= f.input :title, input_html: { class: "form-control"}%>
    <%= f.input :party_a, input_html: { class: "form-control"}%>
    <%= f.input :party_b, input_html: { class: "form-control"}%>
    <%= f.input :amount, input_html: { class: "form-control"}%>
    <%= f.input :description, input_html: { class: "form-control"}%>
    <%= f.label :status %>
    <% Contract::STATUS.each do |status| %>
      <label>
        <%= f.radio_button :status, status %>
        <%= t(status, :scope => "contract.status")%>
      </label>
    <% end %>
    <br>
    <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
  <% end %>
</div>

<script>
  $("#contract_category_id").select2( { theme: "bootstrap"})
</script>
