<%= simple_form_for @contract do |f| %>
  <div class="form-group">
    <%= f.association :project %>
    <%= f.input :title, input_html: { class: "form-control"}%>
    <%= f.input :party_a, input_html: { class: "form-control"}%>
    <%= f.input :party_b, input_html: { class: "form-control"}%>
    <%= f.input :amount, :label => "合同金额" %>
    <%= f.input :paid, :label => "已支付" %>
    <%= f.input :unpaid, :label => "未支付" %>
    <%= f.input :linkman, :label => "联系人" %>
    <%= f.input :contact_number, :label => "联系电话" %>
    <%= f.input :description, input_html: { class: "form-control"}%>
    <%= f.label :status %>
    <% Contract::STATUS.each do |status| %>
      <label>
        <%= f.radio_button :status, status %>
        <%= t(status, :scope => "contract.status")%>
      </label>
    <% end %>
    <br>
    <%= f.submit "Submit", class: "btn btn-primary"%>
  </div>
<% end %>

<script>
  $("#contract_category_id").select2( { theme: "bootstrap"})
</script>
