<div class="col-md-12">
  <h2><%= t("contract_list")%></h2>
  <div class="group">
    <%= link_to(t("new_contract"), new_contract_path, class: "btn btn-primary pull-right")%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>ID</td>
        <td>Category</td>
        <td><%= t("title") %></td>
        <td><%= t("party_b")%></td>
        <td><%= t("amount")%></td>
        <td>Status</td>
        <td>Creator</td>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
        <tr>
          <td><%= contract.id %></td>
          <td><%= contract.category.try(:name) %></td>
          <td><%= link_to(contract.title, contract_path(contract))%></td>
          <td><%= contract.party_b %></td>
          <td><%= contract.amount %></td>
          <td><%= contract.status%></td>
          <td><%= contract.user.email %></td>
          <td>
            <% if current_user && current_user == contract.user %>
              <%= link_to("Edit", edit_contract_path(contract), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", contract_path(contract), class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?"})%>
            <% end %>
          </td>
          <td><%= contract.created_at.to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
