<div class="col-md-12">
  <h2><%= t("contract_list")%></h2>
  <div class="submenu">
    <div class="submenu">
      <div class="btn-group">
        <%= link_to "全部 (#{@contracts.size})", contracts_path(contract_filters(:status => nil)), :class => "btn btn-success btn-group #{(params[:status].blank?) ?  "active" : ""}"%>
        <% Contract::STATUS.each do |s| %>
          <%= link_to t(s, :scope => "contract.status") + "(#{@contracts.by_status(s).size})", contracts_path(contract_filters(:status => s)), :class => "btn btn-success btn-group #{ (params[:status] == s) ? "active" : ""}"%>
        <% end %>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th><%= t("title") %></th>
        <th>Status</th>
        <th>Action</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
        <tr>
          <td><%= contract.id %></td>
          <td><%= contract.project.title %><%= contract.title %>合同</td>
          <td><%= t(contract.status, :scope => "contract.status")%></td>
          <td>
            <%= link_to("Show", contract_path(contract), class: "btn btn-sm btn-default") %>
          </td>
          <td><%= contract.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="total clearfix">
    <span class="pull-right">
      <span>
        <% sum = 0 %>
        <% @contracts.each do |c| %>
          <% sum = sum + c.amount %>
        <% end %>
        总计：<%= sum %> RMB
      </span>
    </span>
  </div>
</div>
