<div class="col-md-12">
  <h2>
    <%= @contract.project.title %> -
    <%= @contract.title %>
    (<%= t(@contract.status, :scope => "contract.status")%>)
  </h2>
  <p>甲方：<%= @contract.party_a %></p>
  <p>乙方：<%= @contract.company.try(:title) %></p>
  
  <p>已支付：<%= @contract.paid %></p>
  <p>未支付：<%= @contract.unpaid %></p>
  <p>合同条款：<%= @contract.description %></p>
</div>
