<div class="col-md-12">
  <h2><%= @contract.title %>(<%= t(@contract.status, :scope => "contract.status")%>)</h2>
  <h2></h2>

  <p>甲方：<%= @contract.party_a %></p>
  <p>乙方：<%= @contract.party_b %></p>
  <p>合同金额：<%= @contract.amount %></p>
  <p>合同条款：<%= @contract.description %></p>
</div>
