<div class="col-md-12">
  <div class="group">
    <% if current_user && current_user == @contract.user %>
      <%= link_to("Edit", edit_project_contract_path(@contract), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @contract.title %>(<%= t(@contract.status, :scope => "contract.status")%>)</h2>
  <h2></h2>

  <p><%= @contract.party_a %></p>
  <p><%= @contract.party_b %></p>
  <p><%= @contract.amount %></p>
  <p><%= @contract.description %></p>
</div>
