<div class="jumbotron">
  <h1 class="title">建设工程信息管理平台</h1>
  <p class="slogan">注册账号，选定角色，发布信息
  <br>
  生产者，传播者
  <br>
	管理者发布信息，生产者发布产品
  <br>
  作为一个工程经理，需要做以下工作：施工管理、施工成本管理、施工进度管理、施工质量管理、
  施工职业健康安全与环境管理、施工合同管理、施工信息管理
  <br>
  建筑工程项目施工管理：单位工程施工组织设计、施工进度管理、施工质量管理、施工安全管理、
  施工招投标管理、造价与成本管理、施工现场管理、验收管理
  <br>
  施工组织设计要求工程经理对施工合同、招投标文件、设计文件、以及现场实际情况进行编制；

  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs/new">创建项目</a></p>
</div>
  <div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    排序
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
      <li><%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %></li>
      <li><%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %></li>
      <li><%= link_to("按照发表时间排序", jobs_path ) %></li>
    </ul>
  </div>
<table class="table table-boldered">
	 <thead>
		 <tr>
			 <td>职缺</td>
			 <td>薪资下限</td>
			 <td>薪资上限</td>
			 <td>刊登时间</td>
		 </tr>

	 </thead>
	 <tbody>
		 <% @jobs.each do |job| %>
		 <tr>
			 <td>
				 <%= link_to(job.title, job_path(job)) %>
			 </td>
			 <td>
				 <%= job.wage_lower_bound %>
			 </td>
			 <td>
				 <%= job.wage_upper_bound %>
			 </td>
			 <td>
				 <%= job.created_at %>
			 </td>
		 </tr>
		 <% end %>
	 </tbody>

 </table>
