<div class="col-md-12">
  <h2><%= t("project_list")%></h2>
  <div class="group">
    <%= link_to("New project", new_project_path, class: "btn btn-primary pull-right")%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Status</td>
        <td>Creator</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= link_to(project.title, project_path(project))%></td>
        <td><%= project.status %></td>
        <td><%= project.user.email %></td>
        <td>
          <%= link_to("Subprojects", project_path(project), :class => "btn btn-default")%>
          <% if current_user && current_user == project.user %>
            <%= link_to("Edit", edit_project_path(project), class: "btn btn-sm btn-default")%>
            <%= link_to("Delete", project_path(project), class: "btn btn-danger",
                        method: :delete, data: { confirm: "Are you sure?"} )%>
          <% end %>
        </td>
      </tr>
    </tbody>
      <% end %>
  </table>
</div>
