<div class="col-md-12">
  <div class="group">
    <%= link_to("Create a Subproject", new_project_subproject_path(@project), class: "btn btn-default pull-right")%>

    <% if current_user && current_user == @project.user %>
      <%= link_to("Edit", edit_project_path(@project), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @project.title %></h2>
  <p>(<%= t(@project.status, :scope => "project.status")%>)</p>
  <p><%= @project.description %></p>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Email</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @subprojects.each do |subproject| %>
        <tr>
          <td><%= subproject.id %></td>
          <td><%= link_to(subproject.title, project_subproject_path(@project, subproject)) %></td>
          <td><%= subproject.user.email %></td>
          <td><%= subproject.created_at %></td>
          <td>
            <%= link_to("Edit", edit_project_subproject_path(@project, subproject), class: "btn btn-primary")%>
            <%= link_to("Delete", project_subproject_path(@project, subproject), :method => "delete",
                        :data => { :confirm => "Are you sure?"}, :class => "btn btn-danger")%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
