<div class="col-md-12">
  <h2><%= t("admin.contract_list")%></h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Party B</td>
        <td>Amount</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
        <tr>
          <td><%= contract.id %></td>
          <td><%= link_to(contract.title, admin_contract_path(contract))%></td>
          <td><%= contract.party_b %></td>
          <td><%= contract.amount %></td>
          <td><%= contract.status%></td>
          <td>
            <%= link_to("Edit", edit_contract_path(contract), class: "btn btn-sm btn-default")%>
            <%= link_to("Delete", admin_contract_path(contract), class: "btn btn-sm btn-default",
                        method: :delete, data: { confirm: "Are you sure?"})%>
          </td>
          <td><%= contract.created_at.to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
