<!DOCTYPE html>
<html>
  <head>
    <title>乡伴工程信息管理平台</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div class="container-fluid">
			<div class="row">
        <%= render "common/navbar" %>
      </div>
      <%= render "common/flashes" %>
			<%= yield %>
      <%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-CN" %>
      <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
		</div>
		<%= render "common/footer" %>
	</body>
</html>
